body {
    background-image: url("netfliximage.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.netflix {
    color: red;
    font-size: 30px;
}

.signin {
    color: white;
    font-size: 25px;
}

.table {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}

input[type=text],
[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=signin] {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.td {
    color: white;
    font-size: 25px;
}

footer {
    color: grey;
    font-size: 8px;
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}